footer {
  padding: 2rem 1rem 0;
  padding-bottom: 1rem;
  background-color: var(--white);
  box-shadow: 0 7px 20px var(--darker-primary);
  margin-top: auto;
  justify-content: space-around;
  width: 100%;
}

.footer-attribution {
  justify-content: space-around;
}

.footer-links-wrapper {
  /* margin-right: 3rem; */
}

.footer-attribution a {
  color: var(--dark);
}

.footer-links-wrapper li a {
  padding: 0 0.5rem;
}

.footer-github-icon {
  color: var(--dark);
  font-size: 1.2rem;
}

.logo-plus-icon {
  color: var(--darker-primary);
}

.footer-attribution span {
  min-width: 80px;
}

@media (max-width: 900px) {
  .nav-logo-wrapper.footer {
    margin-left: 2rem;
  }

  .footer-links-wrapper.footer-links {
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-main-container {
    flex-wrap: wrap;
    padding-left: 1rem;
  }

  .nav-logo-wrapper.footer {
    margin-left: 0;
  }

  .footer-links-wrapper.footer-links {
    margin-right: 0;
  }

  .footer-links-wrapper.footer-links a:first-child {
    padding-left: 0;
  }

  .footer-attribution {
    order: 3;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .twitter {
    display: block;
  }
}
